



<h1>User registration</h1>

<form action="" class="generic-form" method="post">
    <fieldset>
        <legend>User registration form</legend>
    <ul>
        <li>
            <label for="name">Vardas</label>
            <input type="text" name="name" id="name" required>
        </li>
        <li>
            <label for="surname">Pavarde</label>
            <input  type="text" name="surname" id="surname">
        </li>
        <li>
            <label for="phone">Telefonas</label>
            <input type="phone" name="phone" id="phone">
        </li>
        <li>
            <label for="email">Email</label>
            <input type="email"name="email" id="email"></input>
        </li>
        <li>
            <label for="password">Slaptazdis</label>
            <input type="password" name="password" id="password"></input>
        </li>

    </ul>
    </fieldset>

    <br>

    <button class="button button-primary" type="submit">Registrate</button>



</form>