<h1>Orders</h1>



<table>
    <tr>
        <th>Nr.</th>
        <td>Name</td>
        <td>Photo</td>
        <td>Description</td>
        <td>Quantity in stock</td>
        <td>Buy Price</td>
        <td>Sale Price</td>
        <td>Quantity</td>
    </tr>


    <?php foreach ($orders as $order): ?>
           <tr>
                   <td><?= $order['id']; ?></td>
                   <td><?= $order['Name']; ?></td>
                   <td><img src="<?= $wwwUrl ?>/images/meals/<?= $order['Photo']; ?>" alt="<?= $order['Photo']; ?>"></td>
                   <td><?= $order['Description']; ?></td>
                   <td><?= $order['QuantityInStock']; ?></td>
                   <td><?= $order['BuyPrice']; ?></td>
                   <td><?= $order['SalePrice']; ?></td>
            <td><input type="number" name="number"></td>
            <td><a href="<?php echo $requestUrl; ?>/cart">To the basquete</a></td>

              </tr>
           <?php endforeach; ?>
</table>


Total stock: <?php echo $quantity; ?>