<!-- Message de notification -->

<!-- Code HTML à écrire -->


<!-- Liste des aliments -->

<div class="container">
<div class="titulinis">

    <div class="deja deja-left col-md-6">
        <img src="<?= $wwwUrl ?>/images/Paris1.jpg" class="deja-first">
        <img src="<?= $wwwUrl ?>/images/Roze2.jpg" class="deja-second">
    </div>

    <div class="deja deja-right col-md-6">
        <img src="<?= $wwwUrl ?>/images/Vilnius1.jpg" class="deja-first">
        <img src="<?= $wwwUrl ?>/images/reservacija1.jpg" class="deja-second">
    </div>
</div>

<div>
    <table class="generic-table meal-list">
        <caption><a href="<?php echo $requestUrl; ?>/orders" class="carte">Carte du restaurant</a></caption>
        <caption><a href="<?php echo $requestUrl; ?>/reservation" class="reservation">Reservation du table</a></caption>




        <?php if(!isset($_SESSION['logged'])): ?>

        <caption><a href="<?php echo $requestUrl; ?>/user">User Registration</a></caption>
        <caption><a href="<?php echo $requestUrl; ?>/login">Login</a></caption>
        <tbody>

        <?php endif; ?>


        </tbody>
    </table>
</div>
</div>


<?php /*if(isset($_SESSION['logged'])): */?><!--
<a href="<?php /*echo $requestUrl;*/?>?logout">Logout</a>
<?php /*endif; */?>

<?php /*if(isset($_SESSION['logged']) && isset($_SESSION['name'])): */?>
<p>Prisijunges: <?php /*echo $_SESSION['name'] */?></p>
<?php /*endif; */?>

-->