<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3WA Restaurant</title>
   <!-- <link rel="stylesheet" href="<?/*= $wwwUrl */?>/css/normalize-3.0.3.min.css">-->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/font-awesome-4.3.0.min.css">


    <!-- Feuilles de styles de l'application -->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/style.css">
    <!--<link rel="stylesheet" href="<?/*= $wwwUrl */?>/css/3wa-resto.css">-->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-button.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-form.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-table.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/bootstrap-theme.css">
   <link rel="stylesheet" href="<?/*= $wwwUrl */?>/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">
    <link href="https://fonts.googleapis.com/css?family=Jaldi:400,700|Open+Sans+Condensed:300|Open+Sans:300i,400|Oswald:300" rel="stylesheet">

    <!-- Librairie jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- JavaScript de l'application -->
    <script src="<?= $wwwUrl ?>/js/utilities.js"></script>
</head>
<body>

<!-- En-tête commune -->
<header>
    <h1>
        <a href="<?= $requestUrl ?>">
            <img src="<?= $wwwUrl ?>/images/logo.gif" height="63" width="57" alt="3WA Restaurant">Déjà-vu Paris Vilnius
        </a>
    </h1>




    <?php if(isset($_SESSION['logged'])): ?>
        <a href="<?php echo $requestUrl;?>?logout">Logout</a>
    <?php endif; ?>

    <?php if(isset($_SESSION['logged']) && isset($_SESSION['name'])): ?>

        <!-- Jei adminas -->
        <?php if($_SESSION['is_admin']): ?>
            <p>Welcome administrator: <?php echo $_SESSION['name'] ?></p>
        <?php else: ?>
            <p>Prisijunges: <?php echo $_SESSION['name'] ?></p>
        <?php endif; ?>

    <?php endif; ?>

</header>

<!-- Interface utilisateur -->
<nav class="user-interface">
    <ul class="link-list">
        <!-- Code HTML/PHP à écrire -->
    </ul>
</nav>

<main>
    <!-- Affichage du template lié à la vue -->
    <?php include $this->viewData['template'] ?>
</main>

<!-- Pied de page commun -->
<footer>
    <ul class="link-list">
        <li><img src="<?= $wwwUrl ?>/images/payment/visa.png" alt="Visa"></li>
        <li><img src="<?= $wwwUrl ?>/images/payment/mastercard.png" alt="MasterCard"></li>
        <li><img src="<?= $wwwUrl ?>/images/payment/paypal.png" alt="PayPal"></li>
    </ul>
    <small>Réalisé avec <i class="fa fa-heart"></i>&nbsp; par les élèves de la 3W Academy</small>
</footer>

<!-- Code principal JavaScript de l'application -->
<script src="<?= $wwwUrl ?>/js/main.js"></script>

</body>
</html>