<h1>Reservation of table</h1>

<form action="" method="post">

    <fieldset>
        <ul>
            <li>
                <label for="name">Vardas</label>
                <input type="text" name="name" id="name">
            </li>

            <li>
                <label for="persons">Žmonių skaičius</label>
                <input type="number" name="persons" id="persons">
            </li>

            <li>

                <label for="date">Data</label>
                <input type="data" name="data" id="data">
            </li>

            <li>
                <label for="time">Laikas</label>
                <input type="time" name="time" id="time">
            </li>
            </ul>
    </fieldset>
    <br>



    <?php if(!isset($_SESSION['logged'])): ?>
    <fieldset>
        <ul>
            <li>
                <label for="phone">Telefonas</label>
                <input type="phone" name="phone" id="phone">
            </li>

            <li>
                <label for="email">Email</label>
                <input type="email"name="email" id="email"></input>
            </li>

    <?php endif; ?>



    <button type="submit" class="button button-primary">Rezervuoti</button>
</form>