<h1>Orders</h1>


<!--lentele ir skaiciavimai kuria mato visi isskyrus ADMIN-->

<?php if(!isset($_SESSION['logged']) || (isset($_SESSION['is_admin']) && !$_SESSION['is_admin'])): ?>


<div>Selected item count:  <span id="ordersCount"><?= $ordersCount; ?></span> <a class="button button-primary" class="btn-default"  href="<?php echo $requestUrl; ?>/cart">Checkout</a></div>

<!--lentele kuria mato neprisijunges ir prisijunges vartotojas-->


<table class = "generic-table">
    <caption> <tr>
            <th>Name</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Sale Price</th>
            <th>Quantity</th>
        </tr>
    </caption>

    <?php foreach ($orders as $index => $order): ?>
           
        <tr>
                   
                   
            <td><?= $order['Name']; ?></td>
                   
            <td><img src="<?= $wwwUrl ?>/images/meals/<?= $order['Photo']; ?>" alt="<?= $order['Photo']; ?>"></td>
                   
            <td><?= $order['Description']; ?></td>
                 
                 
            <td><?= $order['SalePrice']; ?></td>
            <td class="productQty"><input type="number" name="number"></td>
            <td><a
                    data-productid="<?= $order['id'];?>"
                    class="addToCart" href="<?php echo $requestUrl; ?>/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></a></td>


             
        </tr>
           <?php endforeach; ?>
</table>

<?php endif; ?>











<!--lenteles  kurias mato ADMIN-->


<?php if(isset($_SESSION['logged']) && isset($_SESSION['name'])): ?>

    <!-- Jei adminas -->
    <?php if($_SESSION['is_admin']): ?>

        <!-- forma naujo produkto pridejimui -->


        <form action="" method="post" enctype="multipart/form-data">
            Select image to upload:
            <input type="file" name="fileToUpload" id="fileToUpload">
            <br>
            <label for="name">Product name</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="description">Description</label>
            <input  type="text" name="description" id="description">
            <br>
            <label for="quantityInStock">Quantity In Stock</label>
            <input type="number" name="quantityInStock" id="quantityInStock">
            <br>
            <label for="buyPrice">Buy Price</label>
            <input type="number"name="buyPrice" id="buyPrice">
            <br>
            <label for="salePrice">Sale Price</label>
            <input type="number" name="salePrice" id="salePrice">
            <br>

            <input type="hidden" name="type" value="create_meal">

            <button type="submit" value="add" id="add_item">Add new product</button>

        </form>


        <table class = "meniu-edit">
            <caption> <tr>
                    <th>Nr.</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Description</th>
                    <th>Quantity in stock</th>
                    <th>Buy Price</th>
                    <th>Sale Price</th>
                    <th>Remove Item</th>
                </tr>
            </caption>

            <?php foreach ($orders as $order): ?>
                   
                <tr>
                           
                    <td><?= $order['id']; ?></td>
                           
                    <td><?= $order['Name']; ?></td>
                           
                    <td>
                        <?php if($order['Photo']): ?>
                        <img src="<?= $wwwUrl ?>/images/meals/<?= $order['Photo']; ?>" alt="<?= $order['Photo']; ?>">
                        <?php else: ?>
                        -
                        <?php endif; ?>
                    </td>
                           
                    <td><?= $order['Description']; ?></td>
                         
                    <td><?= $order['QuantityInStock']; ?></td>

                    <td><?= $order['BuyPrice']; ?></td>
                         
                    <td><?= $order['SalePrice']; ?></td>

                    <td>
                        <form action="" method="post">
                            <input type="submit" value="Remove" id="remove_item">
                            <input type="hidden" name="type" value="remove">
                            <input type="hidden" name="item_id" value="<?php echo $order['id']; ?>">


                        </form>
                    </td>

                </tr>
                   <?php endforeach; ?>
        </table>


    <?php else: ?>
        <p>Prisijunges: <?php echo $_SESSION['name'] ?></p>
    <?php endif; ?>
<?php endif; ?>
