
<table class = "generic-table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
    <?php foreach ( $cart as $product) : ?>
        <tr>
            <td><img src="<?= $wwwUrl . $product['photo']; ?>" alt=""></td>
            <td><?= $product['name']; ?></td>
            <td><?= $product['quantity']; ?></td>
            <td><?= $product['price']; ?></td>
            <td><?= $product['total']; ?></td>
            <td>
                <form action="" method="post">   <!--cia bus del mygtuko, special siam frameworkui, kad viename psl galeti skirtinga funkcionaluma priskirti dviems mygtukams, o ne vienam-->
                    <input type="submit" value="Remove" id="remove_item">
                    <input type="hidden" name="type" value="remove">
                    <input type="hidden" name="item_id" value="<?php echo $product['id']; ?>">
                </form>
            </td>
        </tr>
    <?php endforeach; ?>




    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">Total:</td>
            <td><?= $grand_total; ?></td>
        </tr>
    </tfoot>

</table>

<a class="button button-cancel" href="<?php echo $requestUrl; ?>/payment">Apmoketi</a>