<h1>Login</h1>

<form action="" class="generic-form" method="post">
    <fieldset>
        <ul>
            <li>
                <label for="email">Email</label>
                <input type="email"name="email" id="email">
            </li>
            <li>
                <label for="password">Slaptazodis</label>
                <input type="password" name="password" id="password">
            </li>
        </ul>
    </fieldset>
    <br>
    <button class="button button-primary" type="submit">Login</button>

</form>


<h3>If you are not registered yet, so please <a href="<?php echo $requestUrl; ?>/user">REGISTER USER</a>
    </h3>


